@font-face {
    font-family: poppins;
    src:url(Poppins-Medium.ttf);
  }
  nav ul{
    width: 90%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    nav li{
    height: 50px;
    }
    nav a{
    height: 95%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: red;
    }
    nav a:hover{
    text-decoration: underline;
    }
    nav li:first-child{
    margin-right: auto;
    }
    .sidebar{
      position: fixed;
      top: 0; 
      right: 0;
      height: 100vh;
      width: 250px;
      background-color: #1d1d1ee0;
      backdrop-filter: blur(12px);
      list-style: none;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      }
    .sidebar li{
    width: 95%;
    }
    .sidebar a{
    width: 95%;
    }
    .menu-button{
    display: none;
    }
main{
    margin-left: 10%;
    margin-right: 10%;
}
body{
    font-family: poppins;
    margin: 0px;
    color:white;
    background-color: #1d1d1e;
}
h1, h2, h3{
    text-align: center;
}
h1{
    color: red;
  }
  a{
    color: rgb(161, 0, 0);
}
p, li{
    color: grey;
}
.center {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul{
    padding: 15px;
    margin: 0px;
    list-style-type:decimal;
}
.coverbilde{
    width: 400px;
    padding: 30px;
}
.coverbilde_mobil{
    width: 100%;
}
.dvdbilde{
    width: 283px;
}
.vivalavega{
    width: 272px;
}
.table{
   line-height: 150%; 
}
iframe{
    padding-left: 30px;
    padding-bottom: 15px;
    width: 800px;
    height: 450px;
}
#merknapp {
    display: block;
    margin-left: 30px;
}
.tekst {
    width: 400px;
    font-size: 12px;
    margin-left: 15px;
}
.tekst_mobil{
    font-size: 10px;
}
.sanger_mobil{
    font-size: 14px;
}
.album_beskrivelse{
    width: 400px;
    margin-left: 15px;
}
.album_beskrivelse_mobil{
    width: 100%;
    margin: 0px;
    font-size: 14px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}
p{
    width: 800px;
    margin-left: 30px;
    font-size: 14px;
}
#merknapp_mobil{
    margin-top: 40x;
    margin-bottom: 40px;
}
@media(max-width: 800px){
    .hideOnMobile, .table{
    display: none;
    }
    .menu-button{
      display: block;
    }
}
@media(max-width: 450px){
    .sidebar{
      width: 95%;
    }
    .container, #merknapp{
        display: none;
    }
    p{
        margin-left: 0px;
        width: 100%;
    }
    iframe{
        padding: 0px;
        width: 330px;
        height: 186px;
    }
    h1{
        font-size:x-large;
      }
}
@media(min-width: 800px){
    .coverbilde_mobil, .sanger_mobil, .album_beskrivelse_mobil, #merknapp_mobil, .tekst_container_mobil{
        display: none;
    }
}